/*=========================================
        DESTINATIONS
=========================================*/

.destinations{

    padding:120px 0;

    background:#ffffff;

}

.destination-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}

.destination-card{

    position:relative;

    height:500px;

    overflow:hidden;

    border-radius:28px;

    box-shadow:0 25px 60px rgba(0,0,0,.12);

    transition:.45s;

    cursor:pointer;

}

.destination-card:hover{

    transform:translateY(-10px);

}

.destination-card img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:1s;

}

.destination-card:hover img{

    transform:scale(1.12);

}

.destination-overlay{

    position:absolute;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    padding:35px;

    background:linear-gradient(
        to top,
        rgba(5,18,35,.95),
        rgba(5,18,35,.15)
    );

}

.country{

    align-self:flex-start;

    padding:8px 18px;

    border-radius:40px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    color:#fff;

    font-size:13px;

    margin-bottom:18px;

}

.destination-overlay h3{

    color:#fff;

    font-size:34px;

    margin-bottom:18px;

}

.destination-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;

}

.destination-bottom span{

    color:rgba(255,255,255,.82);

    font-size:15px;

}

.destination-bottom a{

    color:#fff;

    text-decoration:none;

    font-weight:600;

    transition:.35s;

}

.destination-bottom a:hover{

    color:var(--secondary);

}

@media(max-width:1200px){

.destination-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.destinations{

padding:80px 0;

}

.destination-grid{

grid-template-columns:1fr;

}

.destination-card{

height:380px;

}

.destination-overlay h3{

font-size:28px;

}

.destination-bottom{

flex-direction:column;

align-items:flex-start;

gap:12px;

}

}