/* ==========================================
   NAVBAR
========================================== */

header{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    padding:20px 0;
    transition:.35s ease;

}

/* Home Page */

header.scrolled{

    background:rgba(8,22,45,.92);

    backdrop-filter:blur(16px);

    box-shadow:0 10px 35px rgba(0,0,0,.18);

}

/* Inner Pages */

header.inner-page{

    background:rgba(8,22,45,.92);

    backdrop-filter:blur(16px);

    box-shadow:0 10px 35px rgba(0,0,0,.18);

}header.scrolled{
    background:rgba(8,22,45,.92);
    backdrop-filter:blur(16px);
    box-shadow:0 10px 35px rgba(0,0,0,.18);
}

.navbar{

    display:flex;

    align-items:center;

    justify-content:space-between;

    min-height:90px;

}

.logo img{

    height:78px;

    width:auto;

    display:block;

    object-fit:contain;

    transition:.35s;

}
.logo img:hover{
    transform:scale(1.05);
}

.nav-links{
    display:flex;
    align-items:center;
    gap:42px;
    list-style:none;
}

.nav-links a{
    color:var(--white);
    font-size:17px;
    font-weight:600;
    text-decoration:none;
    transition:var(--transition);
}

.nav-links a.active{

    color:var(--secondary);

}

.nav-links a.active::after{

    width:100%;

}.nav-links a::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:var(--secondary);
    transition:.3s;

}

.nav-links a:hover::after{
    width:100%;
}

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:15px 34px;
    background:var(--primary);
    color:#fff;
    border-radius:12px;
    font-weight:600;
    transition:var(--transition);
    box-shadow:var(--shadow);
}

.btn:hover{
    background:var(--secondary);
    transform:translateY(-3px);
}
/* Hamburger */

.menu-toggle{

    display:none;
    color:#fff;
    font-size:30px;
    cursor:pointer;

}

/* Tablet */

@media(max-width:992px){

.nav-links{

gap:22px;

}

}

/* Mobile */

@media(max-width:768px){

.menu-toggle{

display:block;

}

.nav-links{

position:fixed;

top:0;

right:-100%;

width:280px;

height:100vh;

background:#071a33;

flex-direction:column;

justify-content:center;

gap:35px;

transition:.4s;

}

.nav-links.active{

right:0;

}

.btn{

display:none;

}

}